/* universe style */
* {
    margin: 0;
    padding: 0;
}


h3 {
    color: goldenrod;
}


.text-gray {
    color: dimgray !important;
}

#h4-style {
    color: teal;
}


.div-style {
    background-color: black;
    color: white;
    width: 50%;
    font-size: 24px;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding: 2% 3% 1% 4%;
    padding: 2% 3% 4%;
    padding: 2% 3%;
    padding: 2%;

}

.custom-margin {
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
}


h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    margin: 0;
}

body,
h6,
p {
    margin: 0;
}

.title-style {
    text-align: center;
    margin-bottom: 4%;
    margin-top: 3%;
}

/* border ==> style , width , color */
.card {
    color: green;
    width: 30%;
    margin-left: 4%;
    margin-top: 4%;
    border-top-color: red;
    border-top-width: 3px;
    border-top-style: solid;
    border-top: 2px solid red;
    border: 2px solid red;
    /* /* padding: 4%;  */
}

.card img {
    width: 100%;
}

.card-info {
    padding: 3%;
}

.card p {
    background: aqua;
    padding: 11%;
    margin-top: 7%;
}

/* .card a{

} */
.card-link {
    color: dimgray;
    text-decoration: none;
}
.card-sm{
        margin: 3% auto;
    border-top-left-radius: 28px;
    border-radius: 10px 20px 5px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 30px;
    border: 2px solid;
    width: 30%;
    padding: 5%;
}

.img-circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}